/* Bonnie Carter - Project 3 */

* {
	font-family: Arial, Verdana, sans-serif;
	color: #0B090A;
}

.center {
	text-align: center;
}

/* backgrounds */

body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#top, h2, h3 {
    background-color: rgba(183,141,113,.75);
    background-attachment: fixed;
    border-radius: 25px;
    border-style: dashed;

}

#photocolumn, #photocredit, .mainparagraph , #nav{
    background-image: url(../images/grunge-paper.jpg);
    border-radius: 25px;
    padding: 20px;
}

/* body */

body {
	width:90%;
	max-width: 780px;
    margin: 0 auto;
}

/* navigation */

a:link {
	color: #0B090A;
	text-decoration: none;
}

a:visited {
	color: #0B090A;
	text-decoration: none;
}
a:hover {
	color: #64193B;
	text-decoration: underline;
	background-color: rgba(183,141,113,.2)
}
a:active {
	color: #64193B;
	text-decoration: none;
}

#nav {

}

/* TEXT COLOR */

h1, h2, h3 {
	color: #64193B;
}

h3 {
	color: #912C69;
}

/* LIST */

li {
	display: inline;
	padding: 0.5em;
}

/* Photo Section */

#photos {
	text-align: center;
}

#photocolumn {
	width: 48%;
    height: 500px;
	float: left;
}

#photocredit {
	width: 40%;
    height: 500px;
	float: right; 
	margin-left: 1%;
    padding: 20px;
	text-align: left;
}

#image01 {
    float: left;
}

figcaption.paragraph {
    font-size: small;
    text-align-last: left;
    max-width: 200px;
}

.imagecolumn {
    font-size: small;
    text-align: left;
    padding-left: 21px;
    max-width: 200px;
}

/* align center text */

#nav, h1, h2, h3 {
	text-align: center;
}

/* Boxes */

h1, h2 {
	border: 2px dashed #912C69;
	padding: 10px;
	line-height: 2em;
}

h3{
	border: 2px dashed #912C69;
	padding: 10px;
	line-height: 2em;
}

/* main body module */

#mainbody {
	overflow: auto;
}

/* featured content (top area) */


p {
	padding-left: 10px;
	padding-right: 10px;
}

/* footer */

#footer, #footer p {
    color: #ffd4a8;
    text-align: center;
}

/* margins */

#main body {
	margin: 1%;
}